* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Rubik', sans-serif;
    --primary: #24343a;
    --primary-light: #628d8f;
    --primary-dark: #3c948c;
    --main-background: #2d4047c9;
    --text-color: #a7b298;
    --card-container-background: #24343a;
    --card-background: #415c66ef;
    --scroll-background: #415c66ef;
    --nav-background:#24343ae5;
    --search-background: #24343ad8;
    --button-background: #537b8aef;
}

body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: var(--search-background);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--button-background);
    border-radius: 20px;
}

body {
    width: 100%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

header {
    width: 100%;
    height: 700px;
}



.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    position: fixed;
    transition: 0.3s;
    z-index: 999;
    background-color: rgba(180, 132, 69, 0);
}

.nav-alt {
    transition: 0.5s;
    background-color: var(--nav-background);
  }

#logo img {
    width: 100px;
    height: 100px;
    transition: 1s;
}

#logo img:hover {
    transform: scale(110%);
    transition: 1s;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    gap: 50px;
}

.menu a {
    font-size: 1.4em;
    color: black;
    text-decoration: none;
    transition: 0.5s;
    border-bottom: 1px rgba(255, 255, 255, 0) solid; 
}

.menu a:hover {
    transition: 0.5s;
    transform: scale(110%);
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

#social-icons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

#social-icons li {
    font-size: 1.2em;
    text-decoration: none;
}

#social-icons img {
    width: 45px;
    height: 45px;
}

.nav-burguer {
    display: none;
    cursor: pointer;
}

.nav-burguer .linha {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 2px;
}

#banner {
    width: 100%;
    
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 95%;
    gap: 45px;
    background-color: var(--main-background);
    min-height: 1000px;
}

#container-produtos {
    width: 100%;
    min-height: 700px;
    max-height: auto;
}

#search-bar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    width: inherit;
    height: 65px;
    background-color: var(--search-background);
}

#caixaMenu {
    padding-top: 15px;
    width: 150px;
    height: inherit;
    background-color: var(--menu-color);
    text-align: center;
    font-size: 1.5em;
    transition: .5s;
    color: var(--text-color);
}

#caixaMenu:hover {
    transition: .5s;
}

#caixaMenu:hover > #caixaSubMenu {
    opacity: 1;
    visibility: visible;
    transition: 1s;
    margin-top: -15px;
    margin-left: -30px;
    position: absolute;
}


#caixaSubMenu {
    width: 1025px;
    height: 90px;
    margin-left: 50px;
    padding-top: 8px;
    list-style: none;
    margin-top: -60px;
    visibility: hidden;
    opacity: 0;
    background-color: var(--second-color);
    transition: 1s;
}

#subMenu {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 90px;
}

#subMenu a{
    text-decoration: none;
    color: black;
}

.itemSubMenu {
    width: 205px;
    height: 90px;
    list-style: none;
    padding-top: 24px;
    transition: .5s;
}

.itemSubMenu:hover {
    color: var(--text-color);
    transform: scale(110%);
    transition: .5s;
}


#search {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#search form {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

#search input {
    width: 250px;
    height: 30px;
    outline: unset;
    font-size: 1.2em;
    padding-left: 5px;
    border-radius: 15px;
    border:unset;
    outline: unset;
    background-color: var(--primary-light);
}

#search button {
    width: 50px;
    height: 50px;
    background-color: unset;
    border: unset;
    outline: unset;
}

#search button img {
    width: 40px;
    height: 40px;
}

#search button:hover {
    cursor: pointer;
}

#box-produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 150px;
    width: inherit;
    padding: 50px 0px;
    height: fit-content;
    background-color: var(--card-container-background);
}

.card-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 390px;
    height: 550px;
    border-radius: 10px;
    background-color: var(--card-background);
    transition: .8s;
}

.card-produto:hover {
    transition: .8s;
    transform: scale(105%);
    position: static;
}

.card-produto img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.texto-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 25px;
    width: 100%;
    height: 150px;
    margin-top: -25px;
}

.texto-produto h3 {
    font-size: 1.5em;
    color: var(--text-color);
}

.texto-produto p {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Nanum Gothic';
}

.container-texto {
    width: 360px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.button-preco {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-radius: 0px 0px 10px 10px;
}

.saiba-mais {
    display: flex;
    align-items: center;
    padding-left: 25px;
    width: 70%;
    border-radius: 0px 0px 0px 10px;
    height: inherit;
}

.saiba-mais button {
    height: fit-content;
    width: fit-content;
    padding: 2px 10px 2px 5px;
    display: flex;
    font-size: 1.1em;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    justify-content: center;
    background-color: var(--button-background);
    border-radius: 10px;
    border: unset;
    outline: unset;
    transition: 0.5s;
}

.saiba-mais button:hover {
    transition: 0.5s;
    background-color: var(--button-background);
    transform: scale(105%);
    cursor: pointer;
}

.saiba-mais img {
    width: 40px;
    height: 40px;
}

.preco {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: inherit;
    border-radius: 0px 0px 10px 0px;
    font-weight: bold;
}

.preco p {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

#container-empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 525px;
    background-color: var(--card-container-background);
}

#nome-empresa {
    width: 100%;;
    height: 50px;
}

#empresa-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 460px;
}

#sobre-empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    min-width: 900px;
    flex-grow: 1;
    gap: 25px;
    height: 450px;
}

#sobre-empresa p {
    font-size: 1.8em;
    color: var(--text-color);
}

#empresa-text img {
    width: 450px;
    height: inherit;
}

#container-promocoes {
    width: 100%;
    min-height: 700px;
    max-height: auto;
}


.diferenca-preco {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.preco-antigo {
    display: flex;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: inherit;
    font-size: 0.8em;
    border-radius: 0px 0px 10px 0px;
    font-weight: bold;
    text-decoration: line-through;
}

#container-destaques {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 500px;
    background-color: var(--card-container-background);
}
h2 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background-color: var(--card-container-background);
    color: var(--text-color);
    text-decoration: underline;
    font-size: 2em;
}

#card-destaques {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 350px;

}

#card-destaques h3 {
    text-align: center;
    font-size: 1.8em;
    font-family: 'Inter';
    font-weight: 500;
    color: var(--text-color);
}

#card-destaques img {
    width: 250px;
    height: 250px;
    border-radius: 150px;
}

#container-lojas {
    display: flex;
    flex-direction: column;
    background-color: var(--card-container-background);
    width: 100%;
    height: 600px;
}

#container-lojas-contatos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: inherit;
}

#lojas {
    width: 50%;
    display: flex;
    gap: 15px;
    padding: 15px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: inherit;
}

.loja {
    border: 3px solid var(--primary-dark);
    border-radius: 10px;
    padding: 10px;
    width: 910px;
    height: 235px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.loja h3 {
    font-size: 1.4em;
    color: var(--text-color);
}

.loja-local {
    width: 750px;
    display: flex;
    gap: 15px;
    height: 175px;
    padding: 10px;
}

.loja-local img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

.loja-local p {
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: bold;
}

#contatos {
    width: 50%;
    height: inherit;
}

#contatos form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contatos label {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text-color);
}

#contatos input {
    width: 300px;
    height: 35px;
    border-radius: 10px;
    outline: unset;
    background-color: var(--primary-light);
    border: unset;
    margin-bottom: 50px;
    font-size: 1em;
    padding-left: 10px;
}

#contatos button {
    width: 150px;
    height: 40px;
    outline: unset;
    font-size: 1.2em;
    color: var(--text-color);
    border: unset;
    border-radius: 10px;
    background-color: var(--button-background);
}


footer {
    border-top: 2px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    width: 95%;
    height: 40px;
    background-color: var(--card-container-background);
}




/* Responsividade com celular, tablet entre outros */
@media screen and (max-width: 1300px){
    .menu {
        width: 70%;
        margin-left: 10px;
        margin-right: 10px;
    }

    #social-icons img {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    .produto {
        width: 35%;
    }
}

@media screen and (max-width: 768px){

    body {
        overflow-x: hidden;
    }

    #card-produtos {
        gap: 85px;
    }

    .produto {
        width: 90%;
    }

    .produto:hover {
        transform: scale(102%);
    }

    .nav-burguer {
        display: flex;
        flex-direction: column;
    }

    .menu {
        padding-top: 10px;
        position: absolute;
        right: -3vw;
        height: 92vh;
        top: 10vh;
        background-color: rgba(0, 0, 0, 0.555);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(110%);
        transition: 0.8s;
        justify-content: space-evenly;
    }

    .menu li{
        opacity: 0;
    }

    .menu a {
        color: white;
    }

    #social-icons {
        gap: 10px;
    }
}

.nav-ativo {
    padding-top: 10px;
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}